<h1>商品一覧</h1>

<tbody>
 <% @items.each do |item| %>
      <tr>
       <td><%= item.id %></br>
            <% end %>
        </td>
        <td><!--%= link_to item_path(item) do %-->
          <%= item.name %>
            <% end %>
          </td>
          <td><%= item.price %></br>
            <% end %>
          </td>
        <td><%= item.genre_id %></td>
            <% end %>
      </tr>

  </tbody>