<h1>naganoCake</h1>
<p>Welcome!!</p>
<p> <%= link_to about_path do %>
        About
       <% end %></p>

<p> <%= link_to new_customer_registration_path do %>
       Sign up
       <% end %></p>

<p> <%= link_to new_customer_session_path do %>
       Log in
       <% end %></p>

<p> <%= link_to admin_customers_path do %>
       会員一覧(あとで削除)
       <% end %></p>