<h1>naganoCake</h1>
<p> <%= link_to about_path do %>
        About
       <% end %></p>

<p> <%= link_to new_customer_registration_path do %>
       Sign up
       <% end %></p>

<p> <%= link_to new_customer_session_path do %>
       Log in
       <% end %></p>